<h3>Current Location coords</h3>
<p id="coords"></p>

<div id="map"></div>

<div id="wordpost">
  <%= form_for @waypoint do |f| %>
    <div class="field">
      <%= f.text_field :name, 
                    :class => "topcoat-text-input",
                    :placeholder => "Name",
                    :size => 74 
                    %>
    </div>
 
    <div class="field">
      <%= f.text_area :wayprint, 
                    :class => "topcoat-textarea", 
                    :rows => "4",
                    :cols => "73",
                    :placeholder => "Enter Text"
                     %>
    </div>

    <%= f.hidden_field :lat, :id => 'latitude_field'%><br>
    <%= f.text_field :lng, :id => 'longitude_field' %><br>
    <%= f.submit "Submit!", :class => "topcoat-button" %>

  <% end %>
  <%= button_to_function "Cancel", '$("#wordpost").slideUp();', :class => "topcoat-button" %>
 </div>

<div class="topcoat-list">
  <h3 class="topcoat-list__header">Waypoints</h3>
    <ul class="topcoat-list__container">
      <% @waypoints.each do |waypoint| %>
    <li class="topcoat-list__item">
      <%= waypoint.wayprint %> | <%= link_to 'Edit', edit_waypoint_path(waypoint) %> | <%= link_to 'Destroy', waypoint, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
</div>